
  <div class="navbar">
    <div class="icons">
      <button class="logo">
        <a href="http://localhost:8080/mainPage" style="color: white">
          <i class="fa fa-heart-o fa-3x" ></i>
        </a>
      </button>
      <div class="dropdown">
        <button class="dropButton">
          <i class="fa fa-user-circle-o fa-3x" ></i>
        </button>
        <div class="dropdown-content" id="dropList">
          <a href="http://localhost:8080/profile">Profile</a>
          <a href="http://localhost:8080/myWishlists">My wishlists</a>
          <a href="#" class="delete">Exit</a>
        </div>
      </div>
    </div>
  </div>

